.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: none;
}

#snapContainer {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45%;
	margin-left: -45%;
	background: #FFFFFF;
	opacity: .0;
}

#snapContainer:before {
	content:"";
	display: block;
	padding-top: 100%;
}

#infoButton{
    display:none;
	position: absolute;
	right:5px;
	bottom:0px;
	border: 0;
	background: transparent;
}

@media (orientation: landscape) {
	#snapContainer {
		width: 50%;
		margin-top: -25%;
		margin-left: -25%;
		background: #FFFFFF;
		opacity: .0;
	}
}